header{
    width: 100%;
    height: 120px;
    margin-top: 0px;
    background-color: lawngreen;
}
.link{
    display: inline-table;
    padding: 100px;
}
body{
    background-color: slateblue;
}
#menu{
    width: 170px;
    height: 576px;
    float: left;
    left: 0;
    background-color: slateblue;
}
#artigos{
    width: 1085px;
    height: 576px;
    background-color: slateblue ;
}
.artigo{
    padding: 35px;
}
#parceiros{
    width: 170px;
    height: 550px;
    position: absolute;
    right: 0%;
    top: 25%;
    background-color: slateblue;
}
footer{
    width: 100%;
    height: 50px;
    background-color: rebeccapurple;
}